body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0fff0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #3d3;
    font-size: 24px;
    margin-bottom: 20px;
}

#p-hasil {
    text-align: center;
    color: #666;
    font-size: 16px;
}

#p-penjelasan {
    text-align: justify;
    text-indent: 1cm;
    color: #343;
    font-size: 16px;
    padding: 0.8cm;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5fdf5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slide-in 0.5s ease-in-out;
    max-width: 400px; /* Added max-width to limit the container size on larger screens */
    margin: 0 auto; /* Center the container horizontally */
}

input[type="number"],
button {
    margin: 10px 2px;
}

#p-hasil {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #343;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #777;
}

span {
    color: red;
    font-size: 30px;
}

@keyframes slide-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

input {
    width: 50px;
}

button {
    color: #020;
    background-color: #6c6;
    border: none;
    border-radius: 5px;
    height: 24px;
    font-weight: bold;
    font-size: 15px;
    transition: opacity 0.2s;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    color: #6c6;
    background-color: #fff;
    opacity: 0.6;
}
